= provide(:page_title, @artist.name)
.artist-page.with-contact
  .info
    %h1.name.uppercase= @artist.name
    %p.description.italic= @artist.description
  .artist-artworks
    = render 'layouts/artworks_grid'
  .contact
    %p
      For further information please contact
      %span.bold Liza German
      [
      %a{:href => "tel:+380 (67) 262 49 50"} +380 (67) 262 49 50
      |
      %a{:href => "mailto:german@thenakedroom.com"} german@thenakedroom.com 
      ]
      or visit us at 
      = link_to "THE NAKED ROOM", "http://thenakedroom.com/", class: 'bold'
