.artworks-wrapper
  - if @artists.empty?
    .empty-container
      %p No artists were created yet
  - else
    - col_counter = 0
    - row_counter = 0
    - @artists.each.with_index do |artist, i|
      - even = ((i + 1) % 2 == 0) 
      - artwork = artist.artworks.first
      = link_to admin_artist_path(id: artist.id), class: 'artist-link' do
        - left = 33.33 * col_counter
        - top = even ? ( 431 * row_counter ) : ( 600 * row_counter )
        .artwork{ style: "left: #{left}%; top: #{top}px; ", |
        class: "#{even ? 'even' : 'odd'}" }
          .overlay
          .background
          .picture-container{ style: "background-image: url(\"#{url_for(artwork.picture.variant(resize: '400'))}\")" }
          .picture-info
            %p.name= artwork.name
            %p.artist= artist.name
      - if col_counter == 2
        - col_counter = 0
        - row_counter += 1
      - else
        - col_counter += 1
