.artwork-info
  %h1= @artwork.name
  .controls
    %p 
      (
      = link_to "Edit", admin_edit_artwork_path(artist_id: @artist.id, id: @artwork.id)
      |
      = link_to "Delete", admin_delete_artwork_path(artist_id: @artwork.artist.id, id: @artwork.id), method: :delete, class: 'danger', confirm: 'Are you sure'
      ) 
  .description
    %h2 Description  
    - if @artwork.description.blank?
      %p.empty No description provided
    - else
      %p= @artwork.description
    %h3= "EUR#{@artwork.price}"
  .image
    %h2 Picture
    = image_tag @artwork.picture.variant(resize: '500')
    
